body{
    background: lightseagreen;
    font-family: "Times New Roman", Times, serif;
}
a:Link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
button{
    background-color: lightseagreen;
    color: white;
    padding: 12px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    alignment: center;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
}
button:HOVER{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#everything{
    margin:auto;
    width: 100%;
    alignment: center;
}
#header{
    text-align: left;
    font-size: 45px;
    color: darkslategrey;
}
#Description{
    display: none;
}
#banner{
    height: 100px;
    margin: 0px 50px 0px 50px;
    font-size: 100px;
    color: white;
    text-align: center;
}
#menuBar{
    margin-top: 60px;
    background: lightblue;
    font-size: 17px;
    font-family: "Arial", sans-serif;
    alignment: center;
    border-radius: 20px;
}
#menuBar .menuButton{
    width: 160px;
    height: 25px;
    background: gray;
    border: 2px solid black;
    padding: auto;
    text-align-all: center;
    color: gray;
    margin: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    transition-duration: 0.4s;
}
#menuBar .menuButton:HOVER{
    background-color: black;
    border: 2px solid grey;
}
#content_outer{
    border-radius: 20px;
    background: lightblue;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
#content{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
#allTable{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 100%;
    alignment: center;
    border: 1px solid black;
}
#allTableth{
    border: 1px solid black;
    font-size: 20px;
    height: 25px;
}
#allTabletd{
    border: 1px solid black;
}
input[type=text], input[type=number], select{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: "Arial", sans-serif;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit]{
    background-color: lightseagreen;
    color: white;
    padding: 12px 20px;
    margin-top: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}
.container{
    margin: auto;
    width: 70%;
    padding: 20px;
}
.col-50{
    float: left;
    width: 50%;
    margin-top: 6px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px){
    .col-50l, .col-50, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
#author{
    text-align: center;
    color: darkslategray;
    font-size: 10px;
    font-family: "Arial", sans-serif;
}